<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224865937450-b9murkt5ae9aksbv6r2jnch7mltb88v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224865937450-b9murkt5ae9aksbv6r2jnch7mltb88v9</string>
	<key>API_KEY</key>
	<string>AIzaSyBJnxowfrlJoOcC8OpGcpnxvIYcNJf-SQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>224865937450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanavsharma.AnimalSlotsGame</string>
	<key>PROJECT_ID</key>
	<string>animal-slot-game</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-slot-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224865937450:ios:19ba36f258205158a63b53</string>
</dict>
</plist>
